html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    color: black;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text-column {
    margin: 10%;
    padding: 3%;
    box-shadow: 5px 10px #735f57;
    animation-name: bakgrund;
    animation-duration: 10s;
}
@keyframes bakgrund {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 5px 10px #735f57;
    }
}

.login {
    border: 1px solid;
    border-radius: 20%;
    padding: 5%20%;
    background-color: #735f57;
    box-shadow: 5px 10px #e7d2d2f3;
    color: white;
}
.input-field {
    padding: 10%;
}

#formBasicEmail {
    margin: 5px 0 15px 0;
    padding: 10px;
}
#formBasicPassword {
    margin: 5px 0 15px 0;
    padding: 10px;
}

.icon-btn-trash {
    cursor: pointer;
    margin-right: 10px;
}
.icon-btn-pen {
    cursor: pointer;
    margin-right: 30px;
}


@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 787px) {
    .ProfileLogo {
        position: relative;
        top: 65px;
        left: 270px;
    }
}

@media screen and (max-width: 562px) {
    .ProfileLogo {
        position: relative;
        top: 65px;
        left: 220px;
    }
}

@media screen and (min-width: 787px) {
    .ProfileLogo {
        position: relative;
        top: 65px;
        left: 170px;
    }
}

@media screen and (max-width: 474px) {
    .ProfileLogo {
        position: relative;
        top: 65px;
        left: 160px;
    }
}
